*{
   /*  border: 1px solid #ce0e0ede; */
    margin: 0px;
    padding: 0px;
}
/*    */
.titulo{
    border-width: 1px;
    border-style: dotted;
    border-color: #2355b3;

    padding: 12px;

    padding-left: 4px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding: 8px 12px;
    padding-inline: 16px;
    padding-block: 14px  ;
    padding-inline-start: 4px;
    padding-inline-end: 10px;

}
.bg {
    width: 100%;
    height: 620px;

    /*background: #2355b3;*/
    background-color: #989ea8;
    background-image: url('../resources/bg/computador.jpg') ,
    url('../resources/bg/ciudad.png')
    ;
    background-repeat: no-repeat, no-repeat;
    /*background-size: 8.5% 1000PX;*/
    background-size: 320px 320px, cover;
    background-position: 90% 300px, 0px;
    background-attachment: fixed;
}

.border{
    border: 5px solid #000000;
    border-width: 10px;
    border-style: double;
    border-color: aquamarine;
    border-left: 16px solid #ff0000;
    border-left-color: #ff0000;
    border-left-width: 16px;
    border-left-style: solid;
    border-right-color: #2355b3;
    border-bottom-color: #43b620;

    border-radius:  50%;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}